[user]
	name = Terence Tuhinanshu
	email = terence@tuhinanshu.com
	signingkey = 48AD5DBE
[alias]
	changed = !"git status -s | grep --color \"^[? ][AMDR?]\""
	staged = !"git status -s | grep --color \"^[AMDR]\""
	lg = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git --no-pager log --graph --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit \"$@\" | delta  | less --tabs=4 -R; }; f"
	mymerges = !git lg --grep Merge --author Tuhinanshu
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | delta  | less --tabs=4 -R; }; f"
	sh = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git show --color \"$@\" | delta  | less --tabs=4 -R; }; f"
[push]
	default = simple
[pull]
	ff = only
[commit]
	gpgsign = true
[color]
	ui = true
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red
	new = green
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
[core]
	excludesfile = ~/.gitignore
	editor = micro
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
	light = false
	features = line-numbers decorations # side-by-side 
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[interactive]
    diffFilter = delta --color-only
