[user]
	name = Terence Tuhinanshu
	email = terence@tuhinanshu.com
[alias]
	changed = !"git status -s | grep --color \"^[? ][AMDR?]\""
	staged = !"git status -s | grep --color \"^[AMDR]\""
	lg = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git --no-pager log --graph --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit \"$@\" | diff-so-fancy  | less --tabs=4 -R; }; f"
	mymerges = !git lg --grep Merge --author Tuhinanshu
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
[push]
	default = simple
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
